:root{
    --primary-color: #E4D9FF;
    --secondary-color: #FAFAFF;
    --button-color: #273469;
    --button-accent-color: #FAFAFF;
    --button-shadow-color: #111;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    color: #30343F;
}

body {
    font-family: 'Roboto', sans-serif;
    background-color: var(--primary-color);
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh; 
}

.game-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    min-height: 400px;
    min-width: 800px;
}

.container-style{
    border-radius: 10px;
    padding: 50px;
    background-color: #FAFAFF;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
}

.game-score{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    width: 100%;
    margin: 20px 0;
    gap: 20px;
}

#para-feedback{
    font-size: 20px;
}

h2{
    text-align: center;
}

.score-container{
    display: flex;
    justify-content: space-around;
    width: 100%;
}

.score{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap:15px;
}

h3{
    font-size: 24px;
    font-weight: bold;
}

.interface{
    font-size: 40px;
    font-weight: bold;
}

.game-area{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    max-width: 600px;
    padding: 20px;
}

/* button */ 
button{
    border: none;
    background-color: var(--secondary-color);
}

.btn {
    display: inline-block;
    padding: 10px 20px;
    font-size: 24px;
    font-weight: bold;
    text-align: center;
    text-decoration: none;
    color: var(--button-accent-color);
    background-color: var(--button-color);
    border: 2px solid var(--button-shadow-color);
    border-radius: 10px;
    box-shadow: 5px 5px 0px var(--button-shadow-color);
    transition: all 0.3s ease;
    cursor: pointer;
  }
  
  .btn:hover {
    background-color: var(--button-accent-color);
    color: var(--button-color);
    border: 2px solid var(--button-color);
    box-shadow: 5px 5px 0px var(--button-color);
  }
  
  .btn:active {
    background-color: var(--button-accent-color);
    box-shadow: none;
    transform: translateY(4px);
  }
  